.add-padding {
    padding: 8% 10%;
    padding-bottom: 0;

    @media only screen and (min-width: 475px) {
        padding: 8% 15%;
        padding-bottom: 0;
    }
}

.margin-bottom {
    margin-bottom: 1.8rem;
}

.hide {
    display: none;
}

.min-width {
    min-width: 275px;
}