//* COLORS
$color-primary: #ff5c5c;

$color-neutral-1: #242942;
$color-neutral-2: #5b5f71;
$color-neutral-3: #a0a1ac;
$color-neutral-4: #eef3f6;

$color-black: #141414;
$color-white: #f7f7f7;

//* FONTS
$font-body: 'Barlow', sans-serif;
$font-title: 'Barlow Condensed', sans-serif;