*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

    @media only screen and (max-width: 300px) {
        font-size: 58%;
    }
}

body {
    box-sizing: border-box;
    color: $color-neutral-2;
}